/*GALERY*/

.galeryContainer{
    padding: 2rem 8rem 8rem 8rem;
}

.galeryMain{    
    h1{
    text-align: center;
    color: #0b7630;
    font-family: Haettenschweiler;
    font-size: 5rem;
    }
}

.photoContainer{
    div{
        padding-bottom: 2rem;
    }
}