@use 'assets/header';
@use 'index';
@use 'aboutUs';
@use 'galery';
@use 'contact';
@use 'assets/footer';
@use 'assets/mediaqueries';

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Serif Pro', serif;
}

html{
    font-size: 62.5%;
}
